# Homework 1

**Due Date: Friday October 10 @ 11:59 PM** 

**Regrade Request Due Date: Friday October 24 @ 11:59 PM** 

**Objective:** This assignment will give you experience using a Jupyter notebook to write text and code, including variables, mathematical operations, string, and list manipulations.

**Full score**: 50 points

## **Instructions:**
    
### Submitting to GradeScope

1. Make sure your code fully runs before uploading to Gradescope. The best way to do this is by restarting your kernel, running through each of your cells, and checking for errors.

2. When you're sure that your code fully runs, save your notebook file. 

3. Download your notebook file to your local computer by right clicking the file in the left panel. 

4. Go to the Homework 1 Assignment in Gradescope and upload your file. You can resubmit as many times as you want before the deadline.

### Working in your Notebook

1. Read the instructions to each question and its subsections carefully, and make sure to write your answers in the *specified area*. Typically, you will see a comment indicating where you should put your solutions. You are welcome to insert however many blocks of code below the starting block to complete your task

2. Sometimes starter code are provided to you. In general, *unless stated otherwise*, you are welcomed to (and sometimes required to!) modify the content of the starter code.

3. **Make sure you follow the coding etiquette, since part of your grade is based on it.** As a reminder, you should (i) use meaningful variable names, (ii) organize your codes into logical blocks, and (iii) document the intent of your code. On average, we expects you to have a line of comment every 5 - 15 lines of code.

### Honor Code

- Complete the assignment by writing and executing text and code cells as specified. For this assignment, do not use any features of Python that have not yet been discussed in the lessons or class sessions.

- Please keep in mind our regrade request and dropped homework grading policy. Late assignments are not accepted. Review the syllabus for details. 

- You can acknowledge and describe any assistance you've received on this assignment in the specified cell of the HW1 notebook, whether that was from an instructor, classmate (either directly or on Ed Discussion), and/or online resources. Alternatively, if you prefer, you may acknowledge assistance at the relevant point(s) in your code using a Python comment (#). Don't forget that you can receive extra credit from answering at least one question on Ed Discussion!

*Acknowledge assistance here or in comments above your code:*

<!-- BEGIN QUESTION -->

## Question 1 (8 points)

Although the goal of OCEAN 215 is not to teach "data science" per se, we hope this course will give you a window into the possibilities offered by data analysis. To get you start thinking about data in the context of oceanography, answer each of the following the question below in 2-3 sentences. There is no wrong answer, but please respond thoughtfully.

> a)  What data have you generated (or are currently generating) that may be analyzed by a data scientist at some point? This can be related to Oceanography but does not have to be. Examples may include class, research, or personal projects/experiments. (4 points)

> b) Big data is defined as extremely large and complex datasets that are difficult to manage. Can you think of an oceanography dataset that could be considered "big data"? Why do you think it would be classified as such? (4 points)

----

Part (a): _Type your answers here, replacing this text_

Part (b): _Type your answers here, replacing this text_

<!-- END QUESTION -->

## Question 2 (10 points)

In clear, pelagic water the photic zone (the maximum depth where photosynthesis can occur) can extend to 200 meters depth. 

Diatoms are a type of phytoplankon (plankton that photosynthesize for energy). They must remain near the ocean surface in the photic zone to photosynthesize. To do this, they regulate their bouyancy to sink as slowly as possible. 

A small diatom might sink 0.25 feet/day, while a large one might sink 8.9 feet/day.

<!-- BEGIN QUESTION -->

### Part a (5 points)

The code below is supposed to compute the sinking rate of diatom in unit of meter per day. In the cell below, define the appropriate variables so that the computation will be correct.

**Note**: You should also execute the cells already provided to you, and make sure that the final results are printed out via the `print()` statements

----

In [ ]:
# Your answers here

In [ ]:
# DO NOT MODIFY!
# conversion factor for ft to m
ft_to_m = 0.3048

In [ ]:
# DO NOT MODIFY!
# calculate sinking rate in m/day
sinking_small_m = sinking_small_ft * ft_to_m
sinking_large_m = sinking_large_ft * ft_to_m

In [ ]:
# DO NOT MODIFY!
# print out sinking rate
print("Sinking rate for small diatom is " + str(round(sinking_small_m, 4)) + " m/day")
print("Sinking rate for large diatom is " + str(round(sinking_large_m, 4)) + " m/day")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Part b (5 points)

Calculate the number of days (as floating point number) a diatom will stay in the photic zone if it starts out at the surface (d = 0 m) and sinks at the rate calculated in part (a). **Print out** (via `print()`) your answer, **with units**, in similar manner as in part (a). Make sure you do the calculation for **both** the small and large diatoms.

----

In [ ]:
# DO NOT MODIFY!
# Photic depth in meters
photic_depth = 200

In [ ]:
# Your answers here

<!-- END QUESTION -->

## Question 3 (20 points)

New Orleans, Louisiana is a city located on the Gulf of Mexico where diurnal tides (one high tide and one low tide every ~24 hours) dominate. The lists below contain the dates, high tide times, low tide times, high tide heights (in feet), and low tide heights (in feet) for tidal forcasts for the week of Oct. 1 - Oct 8, 2024. The lists are each the same length, with each index corresponding to a single day.

In [ ]:
# DO NOT MODIFY!
dates = ['October 1','October 2','October 3','October 4','October 5','October 6','October 7','October 8']
high_times = ['5:49AM','4:17AM','3:53AM','3:56AM','4:13AM','4:40AM','5:14AM','5:56AM']
low_times = ['8:49AM','10:55AM','12:15PM','1:22PM', None,'3:32PM','4:42PM','5:52PM']
high_measurement_feet = [0.9, 1.0, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7]
low_measurement_feet =  [-0.9, -0.8, -0.7, -0.6, None, 0.4, 0.4, 0.3]

<!-- BEGIN QUESTION -->

### Part a (5 points)

Find the **index** of the element in the `dates` list that has the value "October 6". Use the resulting index to extract the high tide and low tide of that day. Print out (via `print()`) the results, and make sure that you **included units.**

----

In [ ]:
# Your answers here

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Part b (5 points)

As usual, the average of a sequence $(x_1, \ldots, x_n)$ is $\overline{x} = (x_1 + ... + x_n) / n$

**Using a for loop**, calculate the average high tide over the duration of the data. Using `print()` to print out your results, **with units**.

----

In [ ]:
# Your answers here

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Part c (10 points)

**Using a for loop**, find the lowest low tide over the duration of the data. Using `print()` to print out your results, **with units**.

**Hint #1**: Create a variable that represents the current best candidate for the lowest low tide and use your loop to modify its value if needed. By the end of the loop this variable will be the value of the lowest low tide. You can initize the candidate with, e.g., the first element of `low_measurement_feet`

**Hint #2**: There is an entry in `low_measurement_feet` with a `None` value. You will want **skip your check** when the value of the entry is `None`

----

_Type your answer here, replacing this text._

In [ ]:
# Your answers here

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Question 4 (10 points)

The average water temperature at Port Townsend over the week of Sep 15 - 22, 2024 is recorded below. The data is computed from averaging over measurements over the course of the day, and the status flag indicates the quality of raw data

In [ ]:
# DO NOT MODIFY!
dates = ["Sep 15", "Sep 16", "Sep 17", "Sep 18", "Sep 19", "Sep 20", "Sep 21", "Sep 22"]
Wtemp_C = [11.30, 11.24, 11.38, 11.16, 11.19, 11.12, 11.19, 11.16]
status = ["good", "moderate", "good", "good", "poor", "good", "good", "moderate"]

The code below is supposed to filter in only the dates where data quality is good or moderate, then store the results in the variable `dates_OK`. However, the code as-is is incorrect. Your task is to **modify** (in-place) the code to make it works as intended.

Then, in the markdown cell provided, **identify** if the error is a _runtime error_ or a _logic error_, and **describe** the strategy you used to discover the error.

----

_Type your answer here, replacing this text._

In [ ]:
# MODIFY this cell
dates_OK = []
for i, date in enumerate(dates):
    if (status[i] == "moderate" or "good"):
        dates_OK.append(date)

<!-- END QUESTION -->

## Check that your codes run without errors (2 points)

Please check that your code runs without error when the notebook is executed from top to bottom. You may find the "Restart the kernel and run all cells" option (selectable using the `⏩` icon) useful.